/* Importação de fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Font poppins */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* MontSerrat */

* {
    /*configuração geral*/
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,html {
    overflow-x: hidden;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}



/* Título do site (oculto em telas pequenas se quiser) */
.main-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Container interno: logo + menu */
.header-container {
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
    padding: 1.5em;
    background-color: #FFF8F8;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



/* Logo */
.logo {
    margin-left: 3em;
}

.logo img {
    max-width: 100px;
    height: auto;
}


/* Menu resposivo para celular */

.menu-celular {
    display: none;
    cursor: pointer;
}

.menu-celular div {
    width: 32px;
    height: 2px;
    background: #4A4A4A;
    margin: 8px;
}


/* Menu principal */

.main-nav {
    margin-right: 3em;
    /*Adicionei a mesma margem para logo e menu nav*/
}

.main-nav .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0;

}

.main-nav .menu li button {
    align-items: center;
    border-radius: 15px;
    border: none;
    padding: 1.3em;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #E38BAE;
    transition: 200ms;
}


.main-nav .menu li button:hover {
    background-color: white;
    color: #E38BAE;
    border: 1px solid #E38BAE;
    scale: calc(1.03);
}

.main-nav .menu li a {
    text-decoration: none;
    color: #4A4A4A;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    transition: 200ms ease;
}

.main-nav .menu li a:hover {
    /* Cor ao passar o mouse */
    color: #E38BAE;
}

/* Botão menu mobile */
.menu-toggle {
    display: none;
    /* ativar via media query em telas pequenas */
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

#main-container {
    height: 100vh;
}

/* Conteúdo principal (primeira imagem) */
#secao-bv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55em;
    background-image: url('imagens/Foto_Principal.jpg');
    background-position: top;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.texto-main {
    align-items: center;
    justify-content: center;
}

.sub-titulo-bv {
    text-align: center;
    color: #E38BAE;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    letter-spacing: 1.2em;
    font-weight: 600;
    padding-bottom: 1.5em;
}

.texto-principal {
    text-align: center;
    color: #C8A2C8;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 56px;
    padding-bottom: 0.7em;
}

.subtitulo-principal {
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 6em;
}

.botao-contato-main button {
    display: inline-flex;
    border-radius: 15px;
    border: none;
    padding: 1.1em;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #d684a5;
    transition: 200ms;
}

.botao-contato-main button img {
    width: 25px;
    padding-left: 0.7em;
}

.botao-contato-main button:hover {
    scale: calc(1.03);
}

/* Conteúdo Sobre */

#sobre-container {
    margin: -6em;
    display: flex;
    background-color: #F6D3D3;
    border-top-left-radius: 15em;
    /* canto superior esquerdo */
    border-top-right-radius: 15em;
    /* canto superior direito */
    align-items: center;
    overflow: hidden;
}

#imagem-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 40px;
}

#imagem-sobre img {
    width: 35em;
    height: auto;
    margin-top: 15em;
    margin-left: 15em;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 1px;
}

#aside-sobre {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 25em;
    margin-right: 5em;
    overflow-wrap: anywhere;
    font-family: "Montserrat", sans-serif
}

.titulo-sobre {
    margin-bottom: 70px;
    font-weight: 900;
    font-size: 45px;
    color: #2F2A4A;
}

#aside-sobre p {
    font-size: 18px;
}

.destaque-vermelho {
    color: #ce5159;
    font-weight: 600;
}


.destaque-roxo {
    color: #2F2A4A;
    font-weight: 600;
}

#svg-sobre {
    margin-top: 3em;
    width: 100%;
}


/*Section como ajudar */

#ajudar-container {
    margin-top: -25em;
    height: 72em;
    background-color: #F7F0EA;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 13em;
}

#ajudar-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(30px);
    padding-top: 20em;
}

.ajudar-titulo {
    font-weight: 900;
    font-size: 45px;
    color: #2F2A4A;
    margin-bottom: 2em;
}

#ajudar-blocos {
    display: flex;
    gap: calc(25px);
    width: 100%;
    justify-content: center;
}

#adote-ajudar {
    background-color: #D691D6;
    width: 22em;
    border-radius: 10px;
    height: 24em;
    padding: 25px;
    padding-right: 30px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.527);
}

#adote-ajudar img {
    margin: 15px;
    margin-bottom: 3em;

}

#adote-ajudar h2 {
    color: #2F2A4A;
    margin-bottom: 25px;
}

#adote-ajudar p {
    color: #4A3F3F;
    font-weight: 400;
    font-size: 18px;
}

#doacao-ajudar {
    background-color: #D691D6;
    width: 22em;
    border-radius: 10px;
    padding: 25px;
    padding-right: 30px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.527);
}


#doacao-ajudar img {
    margin: 15px;
    margin-bottom: 3em;
}

#doacao-ajudar h2 {
    color: #2F2A4A;
    margin-bottom: 25px;
}

#doacao-ajudar p {
    color: #4A3F3F;
    font-weight: 400;
    font-size: 18px;
}

#doacao-ajudar p span {
    font-weight: bold;
}

#voluntario-ajudar {
    background-color: #D691D6;
    width: 22em;
    border-radius: 10px;
    padding: 25px;
    padding-right: 30px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.527);
}

#voluntario-ajudar img {
    margin: 15px;
    margin-bottom: 3em;
}

#voluntario-ajudar h2 {
    color: #2F2A4A;
    margin-bottom: 25px;
    
}

#voluntario-ajudar p {
    color: #4A3F3F;
    font-weight: 400;
    font-size: 18px;
}

#svg-ajuda {
    margin-top: -13em;
}

/* Troquei a cor do divisor */
.elementor-shape-fill {
    fill: #F7F0EA;
}

/* Estilização Campanhas section */
#campanhas-container {
    display: flex;
    height: 40em;
    background-color: #F6D3D3;
    margin-top: -11em;
    padding-top: 15em;
    padding-left: 10em;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

#campanhas-texto {
    display: flex;
    flex-direction: column;
    margin-left: 13em;
    width: 30em;
}

#campanhas-texto img {
    width: 60px;
    height: auto;
}

#campanhas-texto h1 {
    font-weight: 900;
    font-size: 45px;
    color: #2F2A4A;
    margin-bottom: 1em;
    
}

#campanhas-texto p {
    color: #4A3F3F;
    font-weight: 400;
    font-size: 19px;
}

#campanhas-imagens {    
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}

#campanha1 img {
    width: 22em;
    transform: rotate(-10deg);
    border-radius: 5px;
    padding: 5px;
    background-color: #2F2A4A;
    transition: transform 0.2s ease-in-out;
    margin-left: 1em;
}

#campanha1 img:hover{
    transform: rotate(0) scale(1.1);
}
#campanha2 img {
    width: 22em;
    margin-left: -10em;
    border-radius: 5px;
    padding: 5px;
    background-color: #2F2A4A;
    transition: 0.3s;
}

#campanha2 img:hover {
    transform: scale(1.1);
}


/*Section animais */

#animais-container {
    background-color: #F7F0EA;
    padding: 0 35px;
}

.animais-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animais-titulo h1{
    padding-top: 75px;
    padding-bottom: 0px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    color: #2F2A4A;
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    scroll-behavior: smooth; 
}


.wrapper i {
    height: 50px;
    width: 50px;
    background-color: #2F2A4A;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
    left: -5px;
}

.wrapper i:last-child {
    right: -5px;
}

.wrapper .cartoes {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}


.cartoes::-webkit-scrollbar {
    display: none;
}

.cartoes.arrastando {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.cartoes.sem-transicao {
    scroll-behavior: auto;
}

.cartoes.arrastando .cartao {
    cursor: grab;
    user-select: none;
}

.cartoes :where(.cartao, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cartoes .cartao {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
}

.cartoes .cartao img {
    width: 435px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#svg-animais {
    margin-top: -10em;
    position: relative;
    width: 100%;
    height: 100px; /* mesma altura do viewBox */
    overflow: hidden;
}

#svg-animais svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

#svg-animais .elementor-shape-fill {
    fill: #F9D6D9;
}


/*Section ANIMAIS*/
#contato-container {
    display: flex;
    flex-direction: column;
    background-color: #F9D6D9;
    justify-content: center;
    padding-top: 16em;
    align-items: center;

}

#contato-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contato-container h2 {
    text-align: center;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: #2F2A4A;
    padding-bottom: 1em;
}

#contato-container h1 {
    text-align: center;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    color: #CE5159;
    padding-bottom: 2.5em;
}

#contato-container button {
    background-color: #2ecc71; /* verde moderno */
    color: #ffffff;
    border: 2px solid #2ecc71;
    border-radius: 50px; /* curvas arredondadas */
    padding: 16px 48px;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(46, 204, 113, 0.2);
    margin-bottom: 6em;
}

#contato-container button:hover {
    background-color: #ffffff;
    color: #2ecc71;
    border: 2px solid #2ecc71;
    box-shadow: 0 4px 14px rgba(46, 204, 113, 0.4);
    transform: translateY(-2px);
}


/*Footer da página */
#textos-footer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 15px;
    margin-right: 15px;
    color: #2F2A4A;
    font-family: "Montserrat", sans-serif;
}


#footer {
    display: flex;
    justify-content: space-around;
    padding: 0 150px;
    padding-top: 25px;
    background-color: #FFF8F8;

}

#footer h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

#footer p {
    font-weight: 300;
    font-size: 16px;
}

#footer .footer-logo {
    width: 150px;
    height: auto;
}

#footer .footer-icone {
    width: 30px;
    height: auto;
}

#footer a {
    color: inherit;           /* usa a cor do elemento pai (ou pode definir uma cor específica) */
    text-decoration: none;    /* remove o sublinhado */
    transition: 0.1s;
}

#footer a:hover {
    color: #ce5159;
    text-decoration: underline;
}

#footer-contato a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-contato a img{
    width: 15px;
    height: auto;
}



/* Responsividade para mobile */
@media screen and (max-width: 1200px) {

    body {
        overflow-x: hidden;
    }

    #masthead {
        z-index: 9999;
    }

    /* Configurações para melhor design header */

    .header-container {
        height: 9vh;
    }

    .logo a img {
        margin-left: -30px;
    }


    /* Animação botão de menu hamburguer */

    .main-nav .menu {
        position: absolute;
        flex-direction: column;
        align-items: start;
        padding-left: 25px;
        margin-left: 15px;
        padding-top: 25px;
        padding-bottom: -10px;
        top: 113.2px;
        left: 0px;
        width: 100%;
        background-color: #FDEFD7;
        font-size: 1rem;
        transform: translateX(-100%);
        /* Isso move o menu para fora da tela, possibilitando a animação */
        transition: transform 0.3s ease-in;
    }


    .menu-celular {
        display: block;
        /* estava em none*/
        margin-right: -20px;
    }

    .menu-celular div {
        transition: 0.3s;
    }

    .main-nav .menu li button {
        background: none;
        color: #4A4A4A;
        transition: 200ms;
        padding: 0;
        padding-bottom: 20px;
    }

    .main-nav .menu li button:hover {
        background: none;
        color: #d684a5;
        border: none;
        scale: calc(1);
    }

    .main-nav li {
        opacity: 0;
        /* Opacidade em zero para a animação do menu */
    }

    /*Quando ativo move novamente o menu para a tela*/
    .main-nav.active .menu {
        transform: translateX(0%);
    }

    /* animação dos links da nav */
    @keyframes mainNavFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /*Animação do x */

    .menu-celular.active .linha1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .menu-celular.active .linha2 {
        opacity: 0;
    }

    .menu-celular.active .linha3 {
       transform: rotate(45deg) translate(-5px, -7px); 
    }


    /*Primeira section imagem */
    #main-container {
        display: flex;
        flex-direction: column;
    }

    #main-container h1 {
        font-size: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #main-container h2 {
        margin-bottom: 3em;
    }


    /*Section sobre */
    #sobre-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: 80em;
        margin: 0;
        margin-top: -7em;
        border-radius: 50px;
    }

    #imagem-sobre {
        display: flex;
        margin: 0;
        justify-content: center;
        margin-top: 10em;
    }

    #imagem-sobre img {
        width: 100%;
        margin-top: 6em;
        margin-left: 0;
        margin-right: 0;
        height: auto;
    }
    
    #aside-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;       /* 👈 ocupa toda a largura da tela */
        height: auto;      /* 👈 ajusta a altura automaticamente */
        margin: 0 auto;    /* 👈 centraliza no eixo horizontal */
    }

    .titulo-sobre {
        margin: 0;
    }

    #aside-sobre h1 {
        margin: 0;
        margin-top: 20px;
        font-size: 35px;    
        justify-content: center;
        text-align: center;
        margin-bottom: 2em;
        
    }

    #aside-sobre p {
        font-size: 15px;
        line-height: 1.8;
        text-align: justify;
    }

    /*Section Como ajudar */

    #svg-sobre,
    #svg-ajuda {
        display: block;
        margin-bottom: -5px; /* cola a onda na próxima seção */
    }

    #svg-sobre {
        margin: 0;
        margin-top: -2em;
    }

    #ajudar-container {
        margin-top: -12em;
        display: flex;
        flex-direction: column;
        height: 110em;
        justify-content: center;
        align-items: center;
    }

    #ajudar-blocos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #ajudar-blocos div {
        margin-top: 0;
        height: 20em;
    }
    
    #ajudar-texto {
        padding: 0;
        padding-top: 0;
    }


       /* CAMPANHAS — Ajuste geral */
    #campanhas-container {
        display: flex;
        flex-direction: column; /* empilha o texto e imagens */
        align-items: center;
        justify-content: center;
        height: auto; /* ajusta dinamicamente a altura */
        background-color: #F6D3D3;
        padding: 0;
        padding-top: 5em;
        margin-top: -5.8em;
        text-align: center;
    }

    #campanhas-texto {
        align-items: center;
        width: 100%;
        max-width: 90%;
        margin: 0 auto 3em auto;
        padding: 0;
    }

    #campanhas-texto h1 {
        font-size: 35px;
    }

    #campanhas-texto p {
        font-size: 16px;
        line-height: 1.6;
    }

    /* Bloco de imagens - ANIMAIS*/
    #campanhas-imagens {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin: 0;
    }

    #campanha1 img,
    #campanha2 img {
        width: 80%;
        max-width: 350px;
        margin: 0 auto;
        transform: none;
        position: relative;
        border-radius: 10px;
        padding: 4px;
        background-color: #2F2A4A;
        transition: transform 0.2s ease;
    }

    #campanha1 img:hover,
    #campanha2 img:hover {
        transform: scale(1.05);
    }

    /* Corrige sobreposição da segunda imagem */
    #campanha2 img {
        margin-left: 0;
        margin-bottom: 6em;
    }

    .animais-titulo h1 {
        text-align: center;
    }

    #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #textos-footer {
        display: flex;
        flex-direction: column;
    }

    #textos-footer h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    #textos-footer p {
        font-size: 20px;
    }

    #textos-footer div {
        margin-bottom: 50px;
    }
    
    #footer-redessociais {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    #footer-endereco {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 728px) {
    .main-nav .menu {
        top: 109px;
    }

}